body {
      margin: 0;
      background-color: #B8E4F0;
      font-family: "Gill Sans", sans-serif;
      font-weight: 600;
    }

div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 15rem;
  height: 10rem;
  color: white;
}

.relative-box {
  background-color: #98BAE7;
  margin: 1rem 0 0 1rem;
}

.absolute-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 75%;
  height: 25%;
  background-color: #7267CB;
}

.fixed-box {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #98BAE7;
}