body {
  margin: 2em;
  background-color: hsl(214, 77%, 61%);
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 10px solid blue;
}

p {
  margin-bottom: 1em;
  padding: 1em;
  border: 10px solid red;
}

p.a {
  max-width: 50ch;
}

p.b {
  max-width: 50%;
}

p.c {
 max-width: 50vw; 
}