/* CSS for a single article. */

article .cover_image {
    display: none;
    width: 100%;
}

article {
    border-bottom: 1px solid grey;
    padding: 0.75rem;
}

article a {
    text-decoration: none;
    color: black;
}

article p.news_category::before {
    content: "|";
    color: red;
    font-weight: bold;
    margin-right: 0.5rem;
}

article p.news_category {
    color: hsl(0, 2%, 55%);
    text-transform: uppercase;
    font-size: 0.75rem;
}

article p.summary {
    display: none;
}


/* Main story */

article.story_main p.news_category {
    color: white;
}

article.story_main .cover_image {
    display: block;
}

article.story_main {
    padding: 0;
    border-bottom-width: 0;
}

article.story_main .cover_image {
    position: absolute;
    top: 0px;
    z-index: -1;
    margin: 0;
}

article.story_main {
    position: relative;
    aspect-ratio: 1.5/1;
    /* Make the text content of each article live at the bottom. */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

article.story_main a {
    color: white;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

article.story_main a>* {
    margin: 1rem;
}

article.story_main .summary {
    font-size: 1rem;
}

article.story_main .summary,
article.story_main h2 {
    text-shadow: 0 1px 0 black;
}

article h2 {
    font-size: 1rem;
}

article.story_main h2 {
    font-size: 1.5rem;
}


/* Other articles */

@media (min-width: 600px) {
    article.story_main p.summary {
        display: block;
    }
    article p.news_category {
        color: white;
    }
    article .cover_image {
        display: block;
    }
    article h2 {
        font-size: 1.25rem;
    }
    article.story_main h2 {
        font-size: 2rem;
    }
    article {
        padding: 0;
        border-bottom-width: 0;
        position: relative;
        aspect-ratio: 1.5/1;
        /* Make the text content of each article live at the bottom. */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    article .cover_image {
        position: absolute;
        top: 0px;
        z-index: -1;
        margin: 0;
    }
    article a {
        color: white;
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    }
    article a>* {
        margin: 1rem;
    }
    article .summary {
        font-size: 1rem;
    }
    article .summary,
    article h2 {
        text-shadow: 0 1px 0 black;
    }
}